---
import Container from './Container.astro'
---

<footer class="py-20 md:py-40">
  <Container>
    <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
      <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
        <div
          class="flex w-full justify-center space-x-12 text-gray-600 dark:text-gray-300 sm:w-7/12 md:justify-start"
        >
          <ul class="list-inside list-disc space-y-8">
            <li><a href="#" class="transition hover:text-primary">Home</a></li>
            <li>
              <a href="#" class="transition hover:text-primary">Contact</a>
            </li>
          </ul>

          <ul role="list" class="space-y-8">
            <li>
              <a
                href="https://github.com/palladians/pallad"
                class="flex items-center space-x-3 transition hover:text-primary"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span>Github</span>
              </a>
            </li>
            <li>
              <a
                href="https://twitter.com/pallad_xyz"
                class="flex items-center space-x-3 transition hover:text-primary"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span>Twitter</span>
              </a>
            </li>
            <li>
              <a
                href="https://discord.gg/ExzzfTGUnB"
                class="flex items-center space-x-3 transition hover:text-primary"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span>Discord</span>
              </a>
            </li>
          </ul>
        </div>
        <div
          class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left"
        >
          <span class="block text-gray-500 dark:text-gray-400"
            >&copy; Palladians <span id="year">2023</span></span
          >
          <span class="flex justify-between text-gray-600 dark:text-white">
            <a href="#" class="font-medium">Terms of Use</a>
            <a href="#" class="font-medium"> Privacy Policy</a>
          </span>
        </div>
      </div>
    </div>
  </Container>
</footer>
