---
import Container from './Container.astro'
---

<div id="features">
  <Container>
    <div class="md:w-2/3 lg:w-1/2">
      <h2
        class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl"
      >
        Revolutionizing Payments and Finance with Cutting-edge Technology
      </h2>
      <p class="text-gray-600 dark:text-gray-300 text-justify leading-8">
        We're leveraging the power of Mina blockchain to provide a secure,
        efficient, and seamless experience. Our wallet is designed to keep you
        in control of your assets uncensorable with full-node security thanks to
        Mina's succinct design and enriched with features crafted to ensure the
        ultimate convenience.
      </p>
    </div>
    <div
      class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
    >
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div class="relative space-y-8 py-12 p-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-arrow-right-left"
            ><path d="m16 3 4 4-4 4"></path><path d="M20 7H4"></path><path
              d="m8 21-4-4 4-4"></path><path d="M4 17h16"></path></svg
          >

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Peer-to-Peer Payments with Full-Node Security
            </h5>
            <p class="text-gray-600 dark:text-gray-300 leading-8">
              Your security is our top priority. Thanks to Mina's succinct
              design any user will be able to run a full-node in their browser,
              desktop, or mobile phone making them a participant of the network
              unlike other light wallets that rely on third parties for on-chain
              data.
            </p>
          </div>
          <a
            href="#"
            class="flex items-center justify-between group-hover:text-secondary"
          >
            <span class="text-sm">Read more</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div class="relative space-y-8 py-12 p-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-mouse-pointer-click"
            ><path d="m9 9 5 12 1.774-5.226L21 14 9 9z"></path><path
              d="m16.071 16.071 4.243 4.243"></path><path
              d="m7.188 2.239.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656-2.12 2.122"
            ></path></svg
          >

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Interact with zkApps
            </h5>
            <p class="text-gray-600 dark:text-gray-300 leading-8">
              Say goodbye to difficulty interacting with zkApps, Pallad allows
              seamless integration with zkApps.
            </p>
          </div>
          <a
            href="#"
            class="flex items-center justify-between group-hover:text-secondary"
          >
            <span class="text-sm">Read more</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div class="relative space-y-8 py-12 p-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-monitor-check"
            ><path d="m9 10 2 2 4-4"></path><rect
              width="20"
              height="14"
              x="2"
              y="3"
              rx="2"></rect><path d="M12 17v4"></path><path d="M8 21h8"
            ></path></svg
          >

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              User-Friendly Interface
            </h5>
            <p class="text-gray-600 dark:text-gray-300 leading-8">
              Our wallet boasts an intuitive and elegant interface that
              abstracts away the complexities of Web3.
            </p>
          </div>
          <a
            href="#"
            class="flex items-center justify-between group-hover:text-secondary"
          >
            <span class="text-sm">Read more</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div
        class="group relative bg-gray-50 dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-coins"
            ><circle cx="8" cy="8" r="6"></circle><path
              d="M18.09 10.37A6 6 0 1 1 10.34 18"></path><path d="M7 6h1v4"
            ></path><path d="m16.71 13.88.7.71-2.82 2.82"></path></svg
          >

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Staking
            </h5>
            <p class="text-gray-600 dark:text-gray-300 leading-8">
              Contribute to the network's security by staking with your
              favourite stake pool.
            </p>
          </div>
          <a
            href="#"
            class="flex items-center justify-between group-hover:text-secondary"
          >
            <span class="text-sm">Read more</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>
