---
import Container from './Container.astro'
---

<div id="solution">
  <Container>
    <div
      class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
    >
      <div class="md:5/12 lg:w-1/2">
        <img
          src="./images/pie.svg"
          alt="image"
          loading="lazy"
          width=""
          height=""
          class="w-full"
        />
      </div>
      <div class="md:7/12 lg:w-1/2">
        <h2
          class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white"
        >
          User-centered by design
        </h2>
        <p class="my-8 text-gray-600 dark:text-gray-300 text-justify leading-8">
          We used our past experience to create the best Mina wallet possible,
          focusing on the pain points of other wallets and listening to the Mina
          community. Our team has launched successful crypto wallets on other
          chains, but this time we came to Mina.
        </p>
      </div>
    </div>
  </Container>
</div>
