name: Extension CI
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - .github/workflows/apps-extension-ci.yml
      - apps/extension/**
      - packages/features/**
      - packages/key-management/**
      - packages/mina-core/**
      - packages/mina-graphql/**
      - packages/multi-chain-core/**
      - packages/offchain-data/**
      - packages/persistence/**
      - packages/util/**
      - packages/vault/**
      - packages/web-provider/**
  pull_request:
    branches: [main]
    paths:
      - apps/extension/**
      - packages/features/**
      - packages/key-management/**
      - packages/mina-core/**
      - packages/mina-graphql/**
      - packages/multi-chain-core/**
      - packages/offchain-data/**
      - packages/persistence/**
      - packages/util/**
      - packages/vault/**
      - packages/web-provider/**
jobs:
  test_and_build:
    name: 'Build and test'
    env:
      VITE_APP_MODE: web
      VITE_APP_DEFAULT_NETWORK: Berkeley
      NODE_OPTIONS: '--max_old_space_size=4096'
      PALS_SERVER_ENDPOINT: 'http://localhost:8000'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Pull Docker Image
        run: docker pull teddyjfpender/pals:latest

      - name: Start Docker Container
        run: docker run -d -p 8000:8000 teddyjfpender/pals:latest

      - name: Setup env
        uses: ./.github/actions/setup
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TURBO_SERVER_TOKEN: ${{ secrets.TURBO_SERVER_TOKEN }}
      - name: Lint the code
        run: pnpm lint
      - name: Build extension
        env:
          TURBO_API: 'http://127.0.0.1:9080'
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: pallad
        run: VITE_APP_MODE=$VITE_APP_MODE pnpm build:extension
      - name: Run unit tests
        run: pnpm test:unit
      - uses: actions/upload-artifact@v3
        with:
          name: pallad-chromium
          path: apps/extension/dist/
