name: Extension CI
on:
  push:
    branches: [main]
    paths:
      - .github/workflows/apps-extension-ci.yml
      - apps/extension/**
      - packages/features/**
  pull_request:
    branches: [main]
    paths:
      - apps/extension/**
      - packages/features/**
jobs:
  test_and_build:
    name: 'Build and test'
    env:
      VITE_APP_MODE: web
      VITE_APP_DEFAULT_NETWORK: Berkeley
      NODE_OPTIONS: '--max_old_space_size=4096'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup env
        uses: ./.github/actions/setup
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TURBO_SERVER_TOKEN: ${{ secrets.TURBO_SERVER_TOKEN }}
      - name: Lint the code
        run: pnpm lint
      - name: Build extension
        env:
          TURBO_API: 'http://127.0.0.1:9080'
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: pallad
        run: VITE_APP_MODE=$VITE_APP_MODE pnpm build:extension
      - name: Run unit tests
        run: pnpm test:unit
      - uses: actions/upload-artifact@v3
        with:
          name: pallad-chromium
          path: apps/extension/dist/
